# Sample Node project .gitignore 
# https://gist.github.com/ericelliott/a9c8e7810d94fdd90993e30552674244
node_modules
build
npm-debug.log
.env
.DS_Store

# Dist folder
# https://github.com/jcunanan05/express-es6-sample/blob/for-article/.gitignore
# https://www.freecodecamp.org/news/how-to-enable-es6-and-beyond-syntax-with-node-and-express-68d3e11fe1ab
dist

# Code coverage tools
coverage
.nyc_output